<div class="d-flex flex-column" style="min-height: 100vh;">
  <div *ngIf="showLoginSuccess" class="alert alert-success alert-dismissible fade show m-3" role="alert">
    ✅ Login successful!
  </div>
  <!--header -->
  <div
    class="d-flex justify-content-between align-items-center px-4 py-4 bg-dark text-white border-bottom border-4 border-info"
    id="header">
    <a routerLink="/products" style="text-decoration: none;">
      <h2 class="text-info" id="LogoName" style="cursor: pointer;">StoreAPI</h2>
    </a>
    <div>
      <button class="btn btn-outline-light btn-sm me-2" (click)="goToCart()">
        <i class="bi bi-cart"></i>
      </button>

      <button *ngIf="!isLoggedIn" class="btn btn-outline-light btn-sm" (click)="showLogin()">
        <i class="bi bi-box-arrow-in-right"></i> Login
      </button>

      <button *ngIf="isLoggedIn" class="btn btn-outline-warning btn-sm" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i> Logout
      </button>
    </div>
  </div>

  <!-- Área principal: sidebar + conteúdo -->
  <div class="d-flex flex-grow-1">

    <!-- Sidebar -->
    <nav class="bg-dark text-white p-3" style="width: 220px;">
      <ul class="nav flex-column mt-4">
        <li class="nav-item">
          <a class="nav-link text-white" href="javascript:void(0)"><i class="bi bi-box"></i> Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="javascript:void(0)" (click)="goToAdmin()"><i class="bi bi-tools"></i>
            Admin Page</a>
        </li>
      </ul>
    </nav>

    <div class="flex-grow-1">
      <!-- Banner de Categoria -->
      <div class="container my-4">
        <div class="rounded shadow mb-4" [ngStyle]="{
         'background-image': 'url(' + selectedCategoryImage + ')',
         'position': 'relative',
         'overflow': 'hidden',
         'height': '320px',
         'background-size': 'contain',
         'background-repeat': 'no repeat',
         'background-position': 'center',
         'transition': 'background-image 0.5s ease-in-out'
       }">
          <div class="position-absolute top-0 start-0 m-3 p-2 bg-dark bg-opacity-50 rounded">
            <h2 class="text-white m-0">{{ selectedCategoryName }}</h2>
          </div>
        </div>
      </div>


      <!-- Grid de produtos -->
      <div class="container mt-4">

        <!-- Filtros -->
        <div class="row g-3 align-items-end mb-4">
          <div class="col-md-4">
            <label for="category" class="form-label">Categories</label>
            <select class="form-select" [(ngModel)]="selectedCategoryId" (change)="loadProducts()">
              <option [ngValue]="undefined">All Products</option>
              <option *ngFor="let cat of categories" [ngValue]="cat.categoryId">{{ cat.name }}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="search" class="form-label">Search By Name</label>
            <input type="text" class="form-control" [(ngModel)]="searchName" (keyup.enter)="loadProducts()"
              placeholder="Ex: Notebook">
          </div>
          <div class="col-md-4 d-flex">
            <button class="btn btn-primary ms-auto" (click)="loadProducts()">Search</button>
          </div>
        </div>
        <div *ngIf="products.length > 0; else noProducts">
          <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let product of products">
              <div class="card shadow-sm h-100">
                <img [src]="product.imageURL" class="card-img-top" [alt]="product.name"
                  style="height: 180px; width: 100%; object-fit: cover; object-position: center;"
                  (click)="openImage(product.imageURL)">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.description }}</p>
                  <h6 class="text-success mt-auto">R$ {{ product.price.toFixed(2) }}</h6>
                  <button class="btn btn-outline-success mt-2" (click)="addToCart(product)">
                    <i class="bi bi-cart-plus me-1"></i>Add to cart
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ng-template #noProducts>
          <div class="text-center mt-5">
            <p class="text-muted fs-5">No Product was found on this category!</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <app-confirm-modal #confirmModal (confirm)="onConfirmed($event)"></app-confirm-modal>
  <app-login-modal #loginModal (loggedIn)="onLoggedIn($event)"></app-login-modal>
  <!-- Image Modal -->
  <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content bg-dark text-white">
        <div class="modal-header border-0">
          <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <div class="image-container">
            <img [src]="modalImageUrl" alt="Product image">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
